<div class="content">
  <h1  class="txt font-weight-bold">Hey Welcome To The Page!</h1>
  <div class="card" style="width: 30%" id="chetan-card">
    <div class="item">
      <img
        class="card-img-top"
        src="../assets/images/passportsize.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">Er.Chetan Koli</h5>
      <p class="card-text"><b>JAVA,C++,ANGULAR,ES6,SE</b></p>
      <a href="#" class="btn btn-secondary">check CV</a>
    </div>
  </div>
  <div class="card" style="width: 30%" id="sahil-card">
    <div class="item">
      <img
        class="card-img-top"
        src="../assets/images/sahil.jpeg"
        alt="Card image cap"
      />
    </div>

    <div class="card-body item">
      <h5 class="card-title">Er.Sahil Pokhalkar</h5>
      <p class="card-text"><b>JAVA,C++,ANGULAR,ES6,SE</b></p>
      <a href="#" class="btn btn-secondary">check CV</a>
    </div>
  </div>
</div>
